body {
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


table, tr, td {
    border: 1px solid black;
  }
  img.resize {
    width:60px;
    height:60px;
  }
  h1 {
      display: flex;
      align-content: center;
      text-align:center;
  }
  .resize {
    display: block;
  }
  .img-toggle {
    display: none;
  }
  .table-toggle {
    
  }
